<header class="header-container">
    <div class="header-left">
        <button pButton type="button" icon="pi pi-bars" class="p-button-text p-button-secondary mobile-menu-button" (click)="layoutService.toggleMobileSidebar()"></button>
        <h4 class="page-title">{{ pageTitle$ | async }}</h4>
    </div>
    <div class="header-right">
        <a routerLink="/profile" class="user-profile">
           <img src="assets/images/logo_kota_kediri.png" alt="User Avatar" class="user-avatar">

            <div class="user-info">
                <span class="user-name">Kota Kediri</span>
                <span class="user-role">Administrator</span>
            </div>
        </a>
    </div>
</header>
