<div class="sidebar-content">
    <div class="sidebar-nav">
        <li class="sdcom">
                <img src="/assets/images/logo_pemprov_jatim.png" alt="Logo" class="sidebar-logo ">
                <span class="logo-text ">BAPENDA</span>
            </li>
        <ul class="nav-list">
            
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="pi pi-th-large"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/ai-chat" routerLinkActive="active">
                    <i class="pi pi-microchip-ai"></i>
                    <span>AI Agent</span>
                </a>
            </li>
             <li>
                <a routerLink="/profile" routerLinkActive="active">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li (click)="toggleSettingsMenu()">
                <a [class.active]="isSettingsActive()">
                    <i class="pi pi-cog"></i>
                    <span>Settings</span>
                    <i class="pi pi-chevron-down chevron-icon" [class.rotated]="settingsMenuOpen"></i>
                </a>
            </li>
            <ul class="submenu" [class.open]="settingsMenuOpen">
                 <li><a routerLink="/settings/agent-config" routerLinkActive="active">Agent Config</a></li>
                 <li><a routerLink="/settings/ai-knowledge" routerLinkActive="active">AI Knowledge</a></li>
            </ul>
        </ul>
    </div>
    <div class="sidebar-bottom">
        <a href="#" class="logout-item">
            <span>Logout</span>
            <i class="pi pi-sign-out"></i>
        </a>
        <footer class="sidebar-footer">
            <p>&copy; 2025 Kediri Technopark</p>
        </footer>
    </div>
</div>
